extends layout

block body
    div(ng-controller='MainCtrl')
        header
            h1#appTitle Contact Manager
        //-nav
            ul
                li
                    a(href="add_contacts") Add Contacts
                li
                    a(href="view_contacts") View Contacts
                li
                    a(href="remove_contacts") Remove Contacts
        div(ng-view)
        #fab-icon.add(ng-click="addContact()")

        page-layover#layoverContainer(ng-if="layoverVisible")
            #ddd
                p this is content
        footer Sapling NG V:
            span(app-version)


    //Script injections
    //Libraries
    script(src='js/lib/angular/angular.js')

    //AngularJS app files
    script(src='js/app.js')
    script(src='js/services/services.js')
    script(src='js/controllers/controllers.js')
    script(src='js/filters/filters.js')
    script(src='js/directives/directives.js')
